#lifestyleCarousel {
    position: absolute;
}

.headline {
    z-index: 1;
}

.hero {
    display: flex;
    max-width: 1160px;
    justify-content: space-between;
    margin: 0px auto;
}
h1 {
    font-family: fantasy;
    font-size: 44pt;
    line-height: 80%;
    color: brown;
    margin-inline-start: -10px;
    margin-inline-end: -10px;
    padding-top: 50px;
    padding-left: 80px;
}  

h2 {
    font-family: fantasy;
    font-size: 24pt;
    line-height: 80%;
    color: brown;
    margin-inline-start: -10px;
    margin-inline-end: -10px;
    padding-top: 30px;
    padding-right: 80px;
}  
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    line-height: 80%;
    color: black;
    margin-top: 60px;
    z-index: 4;

}  

.btn {
    margin-bottom: 0px;
    margin-right: 70px;
    height: 30px;
}


.containerModal {
    position: relative;
    text-align: center;
    max-height: 100px;
}

.modal-content {
    text-align: left;
}

/* End of Original CSS */