#lifestyleCarousel {
    position: absolute;
}

.headline {
    z-index: 1;
}

.hero {
    display: flex;
    max-width: 1160px;
    justify-content: space-between;
    margin: 0px auto;
} 
h1 {
    font-family: fantasy;
    font-size: 44pt;
    line-height: 80%;
    color: brown;
    margin-inline-start: -10px;
    margin-inline-end: -10px;
    padding-top: 50px;
    padding-left: 80px;
}  

h2 {
    font-family: fantasy;
    font-size: 24pt;
    line-height: 80%;
    color: brown;
    margin-inline-start: -10px;
    margin-inline-end: -10px;
    padding-top: 30px;
    padding-right: 80px;
}  
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    line-height: 80%;
    color: black;
    margin-top: 60px;
    z-index: 4;
}  

.searchCityBtn {
    margin-bottom: 0px;
    margin-right: 70px;
    height: 30px;
}


.containerModal {
    position: relative; 
    text-align: center;
    max-height: 100px;
}

.modal-content {
    text-align: left;
} 

.carousel-slide {
  /* width: auto !important; */
  width: 100% !important;
}
/* End of Original CSS */

.ticket-div {
    border: solid 1px blue;
    float: left;
    background-color: rgba(230, 172, 184, 0.3);
    width: 65%;
    margin-top: 3em;
    margin-left: 3em;
    height: 500px;
    border-radius: 10px;
    overflow: auto;
  }
  
  .rest-div {
    float: left;
    border: solid 1px lightgrey;
    background-color: rgba(230, 172, 184, 0.3);
    margin-top: 3em;
    height: 500px;
    width: 25%;
    margin-left: 1em;
    border-radius: 10px;
    overflow: auto;
    margin-bottom: 3em;
  }
  
  .card {
    margin-top: .5em;
    margin-bottom: .5em;
    height: 100px;
  }
  
  .rest-card {
    margin-right: auto;
    margin-left: auto;
  }
  
  .card-element {
    line-height: 1;
    font-size: 10px;
    margin-bottom: 0.3em;
  }
  
  .card-title {
    line-height: 1.3;
    font-size: 11px;
    margin-bottom: 1em;
  }
  
  .label {
    display: block;
    margin: 0;
    margin-top: 2em;
    text-align: center;
  }
  
  .email-button {
    cursor: pointer !important;
  }
  
  .title {
    width: 50px;
    height: 50px;
    clear: left;
    text-align: center;
    z-index: 15;
  }
  
  .eventLabel {
    text-align: center;
    font-size: 30px;
    z-index: 15;
  }
  
  @media screen and (max-width: 400px){
    .ticket-div {
      margin-left: 1.2em;
      width: 90% !important;
    }
  
    .card {
      height: 150px;
    }
  
    .rest-div {
      margin-left: 1.2em;
      clear: left;
      display: block;
      width: 90%!important;
    }
  }